---
# Base SCSS - imports all other scss
---
@charset "utf-8";

// Normalizes
@import "normalize/import-now";

// Colors
$color-darkest: #222222;
$color-dark: #2C2C2C;
$color-mute: #7F7970;
$color-tan: #E2D3B9;
$color-white: #E8E3D9;
$color-highlight: #371D44;

// Fonts
$base-font-family: "Whitney HTF", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Spacing
$spacing-unit:     30px;
$nav-height:	70px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$susy: (
  column-width: 3em
);

// Import partials from `_sass`
@import
	"susy",
    "base",
    "layout"
;
