---
layout: default
---

<!-- Introduction -->
<p class="intro">{{ site.intro }}</p>
<p class="intro">{{ site.intromore }}</p>

<!-- Actual awards -->
<h1>The Awards</h1>
<div class="awards-list">
  <!-- TODO: style the awards -->
  {% for post in site.posts %}
    <!-- Each award -->
    <h2>{{ post.title }}</h2>
    
    <h3>Presenters</h3>
    <ul class="presenters">
    {% for presenter in post.presenters %}
      <li>{{ presenter }}</li>
    {% endfor %}
    </ul>

    <h3>Nominees</h3>
    <ul class="nominees">
    {% for nominee in post.nominees %}
      <li>{{ nominee }}</li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>
