/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $color-mute;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

/**
 * Page content
 */
.page {
    padding: $spacing-unit 0;
}
