/**
 * Containers
 */
.page, .site-header, .banner .title {
	@include container(12 center nest);
	padding: 0 $page-gutter;
}


/**
 * Site header
 */
.site-header {
	padding: 40px $page-gutter;
	height: $nav-height;
}
.logo {
	max-height: $nav-height;
}
.tag-line {
	font-family: $alt-font-family;
	font-style: italic;
	font-size: 24px;
	float: right;
	text-align: right;
}

/**
 * Page content
 */
 h2 {
 	font-size: 1.1em;
 }

h3 {
	font-size: 0.9em;
	text-transform: uppercase;
}
.page {
	padding-bottom: $spacing-unit;
}

.banner {
	line-height: 5.25em;
	background: $color-highlight;
	.title {
		h1 {
			color: $color-tan;
			font-family: $alt-font-family;
			font-style: italic;
			font-size: 2.5em;
		}
	}
}

.awards-list {
	padding-top: gutter()/4;
}

.award-card {
	@include gallery(4 of 12);
	margin-bottom: gutter()/3;
	background: $color-dark;
	.card-data {
		padding: gutter();
		@include container(12 of 12);
	}
	.title, .datum {
		color: $color-tan;
		margin-bottom: 0;
	}
	.header {
		@include container(12 of 12 nest);
		height: 90px;
	}
	.award-image {
		height: 100%;
	}
	.title {
		@include span(7 of 12 last);
		text-align: right;
	}
	.datum {
		font-size: $small-font-size;
		letter-spacing: 0.3px;
		font-weight: 300;
		list-style: none;
	}
	p.presenters {
		@include span(7 of 12 last);
		line-height: 1.5em;
		margin: 0;
		margin-top: 1em;
		font-size: $smaller-font-size;
	}
	.subheading {
		margin-top: 1em;
		font-size: $small-font-size;
		font-weight: 500;
		letter-spacing: 1px;
		&.presenters {
			margin-top: 1em;
			@include span(5 of 12);
		}
		margin-top: gutter();
	}
	ul {
		margin-left: 0;
	}
}

.intro-area {
    padding: $spacing-unit $page-gutter;
	img {
		margin: $spacing-unit 0;
		float: left;
	}
	p {
		@include span(10 of 12 last);
	}
}
